<style></style>

<main class="main">
  <div class="calendar">
    <div class="calendar__header">
      <div class="calendar__filter">
        <mat-form-field>
          <mat-select
            placeholder="Filter"
            multiple
            (selectionChange)="filterLabelChanged($event)"
          >
            @for (label of labels$ | async; track label.id) {
              <mat-option [value]="label.id">{{ label.text }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="calendar__weeks">
        <button type="button">Prev</button>
        <span>calendar week: 31</span>
        <button type="button">Next</button>
      </div>
    </div>
    <div class="calendar__table">
      <div class="time__cells">
        @for (label of labels$ | async; track label.id) {
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
          <div class="cell"></div>
        }
      </div>
      <div class="calendar__notes">
        @for (note of notes$ | async; track note.id) {
          <div
            class="note"
            style="
              --start-row: 1;
              --start-column: 3;
              --end-row: 3;
              --end-column: 5;
            "
          >
            {{ note.title }}
          </div>
        } @empty {
          <li>There are no items.</li>
        }
      </div>
    </div>
  </div>
</main>
